.boldLabels {
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-font-family: Georgia;
    -fx-text-fill: BLACK;
    -fx-padding: 10 5 10 30;
}

.valueHowGoalText {
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-font-family: Georgia;
    -fx-text-fill: BLACK;
}

.goalSelector {
    -fx-background-color: #D0DEE4;
    -fx-border-color: #A9C4CF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 4 8 4 8;
}

.tableViewPlacement {
    -fx-padding: 50 0 20 74;
}
.bottomButtonsHBox {
    -fx-padding: 0 0 0 70;
}

.addSaveCancelButtons {
    -fx-background-color: #D0DEE4;
    -fx-border-color: #A9C4CF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: Georgia;
    -fx-text-fill: BLACK;
    -fx-font-size: 12pt;
    -fx-pref-width: 110;
    -fx-pref-height: 35;
}