.vehicleSelector {
    -fx-background-color: #F5F7F8;
    -fx-border-color: #B0B8BD;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.tableViewPlacement {
    -fx-padding: 50 0 20 0;
}

.addMaintenanceButton {
    -fx-background-color: linear-gradient(to bottom, #D4E3F0, #C6D8E8, #B8CBDC);
    -fx-border-color: #A9C4CF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: Georgia;
    -fx-text-fill: BLACK;
    -fx-font-size: 12pt;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}

.clearFiltersButton {
        -fx-background-color: linear-gradient(to bottom, #D4E3F0, #C6D8E8, #B8CBDC);
        -fx-border-color: #A9C4CF;
        -fx-border-radius: 5;
        -fx-background-radius: 5;
        -fx-font-family: Georgia;
        -fx-text-fill: BLACK;
        -fx-font-size: 12pt;
        -fx-pref-width: 200;
        -fx-pref-height: 40;
}
