/************* NAVIGATION BAR & SPLASH PAGE**************/

.topNavigationHBox {
    -fx-pref-height: 50px;
}

.topNavigationButton {
    -fx-pref-width: 127px;
    -fx-min-height: 50px;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #003A64;
    -fx-background-color: #C0D6DF;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #8FA1AC;
    -fx-border-width: 1px;
}

.topNavigationButton:hover {
    -fx-background-color: #A5BEC6;
}

.topNavigationButton:pressed {
    -fx-text-fill: #FFFFFF;
}

.background {
    -fx-background-color: #E0EBF0;
}

.screenTitleText {
    -fx-font-size: 20pt;
    -fx-font-family: Georgia;
    -fx-font-weight: 600;
    -fx-text-alignment: center;
    -fx-text-fill: #002F52;
    -fx-alignment: center;
}

/******************** Tableviews *******************/

.dataTable {
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-font-family: Georgia;
    -fx-text-fill: BLACK;
    -fx-background-color: #E0EBF0;
}

.dataTable .column-header {
    -fx-background-color: #2C3E50;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.dataTable .column-header .label {
    -fx-text-fill: WHITE;
    -fx-alignment: CENTER_LEFT;
    -fx-label-padding: 4 3 4 3;
}

.dataTable .table-row-cell {
    fx-padding: 4 3 4 3;
}

.dataTable .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.dataTable .table-row-cell:empty {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.dataTable .table-row-cell:even {
    -fx-background-color: #E0EBF0;
}

.dataTable .table-row-cell:odd {
    -fx-background-color: #C3D9E5;
}

.dataTable .table-row-cell:hover {
    -fx-background-color: #EDF5F7;
}

.dataTable .table-row-cell:filled:selected,
.dataTable .table-row-cell:selected {
    -fx-background-color: #A7C6D9;
    -fx-text-fill: BLACK;
}

.table-row-cell:disabled {
    -fx-opacity: 0.5;
}

/***************************** Dialog boxes for input **********************/
.dialog-pane {
    -fx-background-color: #DFE8ED;
}

.dialogPaneTitle {
    -fx-font-size: 24px;
    -fx-font-family: Georgia;
    -fx-font-weight: 600;
    -fx-text-alignment: left;
    -fx-text-fill: #002F52;
    -fx-padding: 10 10 5 20;
}

.fieldLabels {
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-font-family: Georgia;
    -fx-text-fill: #002F52;
    -fx-padding: 10 10 10 20;
}

.inputTextField {
    -fx-font-size: 14px;
    -fx-pref-width: 500;
    -fx-background-color: #F5F7FA;
    -fx-border-color: #A9C4CF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.inputDatePicker {
    -fx-background-color: #F5F7FA;
    -fx-border-color: #A9C4CF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-min-height: 30;
    -fx-max-height: 30;
}

.inputComboBox {
    -fx-background-color: #D0DEE4;
    -fx-border-color: #A9C4CF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 4 8 4 8;
}

.inputComboBoxText {
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-font-family: Georgia;
    -fx-text-fill: BLACK;
}

.inputTopSeparator {
   -fx-padding: 0 0 20 0;
}

.inputBottomSeparator {
    -fx-padding: 20 0 20 0;
}

.inputButtonsHBox {
    -fx-alignment: CENTER;
    -fx-spacing: 20;
}


/***************************** Universal buttons **********************/

.saveCancelButtons {
    -fx-background-color: #C6D8E8;
    -fx-border-color: #A9C4CF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: Georgia;
    -fx-text-fill: BLACK;
    -fx-font-size: 12pt;
    -fx-pref-width: 110;
    -fx-pref-height: 35;
}